
@media only screen and (max-width: 700px) {
  html {
    background-color: #6D701B;
    color: #6D701B;
    }
  ul{
    background-color: #0F0F04;
  }
}

/*
44d3fc kék
6D701B fos
B8ECFC light kék
0F0F04 dark fos
*/

